@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden !important;
}

* {
  font-family: "Poppins", sans-serif;
}

.slideLeft {
  animation: slideLeft 0.8s ease-out forwards;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.background-clr{
  background-image: linear-gradient(to right bottom, #000000, #0f0e0e, #191718, #211f21, #2a272a);
}