@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden !important;
}

* {
  font-family: "Poppins", sans-serif;
}

.slideLeft {
  animation: slideLeft 0.8s ease-out forwards;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.background-clr{
  background-image: linear-gradient(to right bottom, #000000, #0f0e0e, #191718, #211f21, #2a272a);
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 10px rgba(255,0,0,0.6);
  }
  50% {
    box-shadow: 0 0 20px rgba(255,0,0,1);
  }
}

@keyframes flow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animate-flow {
  animation: flow 2s linear infinite;
}